/* dieRoller.css */

.animatedDie {
    overflow: visible;
    width: 50px;
    height: 50px;
    animation: spin 250ms linear 0s 5 normal; /* name duration timing delay iteration direction */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
